.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}

.listAct {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  max-height: 20em;
  overflow-y: scroll;
}

.listAct::-webkit-scrollbar {
  display: none;
}

.back {
  display: flex;
  justify-content: center;
}
