.title {
    padding: 1em 0 0 2em;
}

.fila1 {
  display: flex;
  margin-top: 3em;
  justify-content: space-around;
}

.fila2 {
  display: flex;
  margin-top: 3em;
  padding-left: 5.7em;
}

.difficulty {
  display: flex;
  flex-direction: column;
}

.seasons {
  padding-left: 11.3em;
}
