.container {
  display: flex;
  flex-direction: column;
  width: 12em;
  padding: 1.5rem 0.5em 0 0.5em;
  margin: 2em 0 6.4em;
  border-radius: 16px;
  background-color: rgba(185, 184, 184, 0.507);
  backdrop-filter: blur(2px);  
}
