.contact {
  display: flex;
  justify-content: flex-end;
  padding: 1em 2em 0 0;
}

.button1 {
  padding: 1mm;
  margin-right: 1em;
}

.button2 {
  padding: 1mm;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12em;
}

.logo {
  margin-bottom: 4em;
}

.button2 {
  padding: 2mm;
}
